In [2]:
# Write the first program in the python
print("Hello World")

Hello World

In [3]:
print("MY NAME IS BIBEK SODARI")

MY NAME IS BIBEK SODARI

In [4]:
# example of using variable

Name = "Bibek"
age  = 20
price = 40.79

print("My name is :",Name)
print("My age is:", age)

My name is : Bibek
My age is: 20

In [5]:
# Finding the type of the variable exaple

Name = "Parkash"
age = 79
price = 60.90
value = True
a = None

print(type(Name))
print(type(age))
print(type(price))
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'NoneType'>

In [6]:
# Write a program to find the sum of two number

a = 90
b = 70
sum = a+b
print(sum)

160

In [7]:
# example of arithimatic operator
a = 100
b =80
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

180
20
8000
1.25
20
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [8]:
a = False
b = True
print("ans is :", a and b)
print("ans is :", a or b)
print("ans is :", not a)

ans is : False
ans is : True
ans is : True

In [9]:
# example Type conversion

a = 10
b = 8.56
sum = a+b
print(sum)

18.560000000000002

In [10]:
# example of the type casting 
a =float( "10")
b = 56
print(type(a))
sum = a+b
print(sum)

<class 'float'>
66.0

In [11]:
str1 = "my name is bibek sodari"
print(str1)
len(str1)

my name is bibek sodari

23

In [12]:
str1 = "My name is bibek sodari.\n  and i am a 20 years olds"
str = "My Father name is dan bhadur sodari and My mother name is pashupati devi sodari"
str2 = str + str1
print(str2)
print(type(str2))

My Father name is dan bhadur sodari and My mother name is pashupati devi sodariMy name is bibek sodari.
  and i am a 20 years olds
<class 'str'>

In [13]:
str = "Bibek"
len1 = len(str)
print(len1)
str2 = "Sodari"
len3 = len(str2)
print(len3)
print(len1 +len3)

5
6
11

In [14]:
# Indicing concept in python
str = "Communication"
ch = str[3]
print(ch)
print(str[7])

m
c

In [15]:
# Slicing concept in python:
str  = "Environment"
ch = str[1:4]
print(ch)
print(str[:8])
print(str[0:])

nvi
Environm
Environment

In [16]:
str = "my village name is janaki rural municipality ward no 6 jagatput,kailali"
print(str.endswith("lali"))
print(str.endswith("put"))
print(str.capitalize())
print(str.replace("my","This"))
print(str.find("r"))
print(str.count("m"))

True
False
My village name is janaki rural municipality ward no 6 jagatput,kailali
This village name is janaki rural municipality ward no 6 jagatput,kailali
26
3

In [17]:
# Example of the conditional statement on python

age = -20
if(age>=18):
    print(" The person can drive and voting in the election:")
elif(age<=18):
    print(" The person cannot be voting in the election:")
else:
    print(" There is no person registered:")

 The person cannot be voting in the election:

In [18]:
# Example of the nesting

age = 85
if(age>=18):
    if(age>=80):
        print("The person cannot drive the car:")
    else:
        print("The person can drive the car:")   
else:
    print("The person cannot drive the car:")

The person cannot drive the car:

In [19]:
# Example of the list in python
student = [ "Ram" , 45 , "Shyam" , 60 , "Hari" , 80]
print(student)
print(type(student))
print(student[2])
print(student[0])
print(student[-2])

['Ram', 45, 'Shyam', 60, 'Hari', 80]
<class 'list'>
Shyam
Ram
Hari

In [20]:
# Example of the list is mutable
student = [ "Ram" , 5 , "Gita" , 6 , "Kamala" , 80]
print(student[0])
student[0] = "Bibek"
print(student)
print(student[1:3])

Ram
['Bibek', 5, 'Gita', 6, 'Kamala', 80]
[5, 'Gita']

In [21]:
# Example of the list methods

list = [10.9 , 20 , 30 , 40 , 50]
list.append(100)
list.sort()
list.sort(reverse=True)
list.reverse()
list.insert(1,10.80)
print(list)

[10.9, 10.8, 20, 30, 40, 50, 100]

In [22]:
Name = [1,2,3,4,5,6,7,8,1,2,3,10]
Name.remove(10)
Name.pop(2)
print(Name)

[1, 2, 4, 5, 6, 7, 8, 1, 2, 3]

In [23]:
# Example of tuple in python
tup = (1,2,3,4,5,6,7,8,9)
print(type(tup))
print(tup[0])
print(len(tup))

<class 'tuple'>
1
9

In [24]:
tup = (2,19,18,171,171,17,17,17,19)
print(tup)
print(type(tup))
print(tup.index(17))
print(tup.count(17))

(2, 19, 18, 171, 171, 17, 17, 17, 19)
<class 'tuple'>
5
3

In [25]:
# Write a program to find the palindrome of the number

list1 = [1,2,3]
list2 = [1,2,3,4]
list1_copy = list1.copy()
list1_copy.reverse()
if(list1_copy == list1):
    print("Palindrome:")
else:
    print("not palindrome:")

not palindrome:

In [26]:
movies = []
mov1 = "Bahubhali , sulthan , shiva"
movies.append(mov1)
print(movies)

['Bahubhali , sulthan , shiva']

In [27]:
# Example of the dictionary in python
dict = {
     "Name" : "Bibek sodari",
     "class" : "Bachelor in engineering",
     "cgpa" : 8.2,
     "Course" : ["python" , "c"  , "Java"],
     "Interest" : ("swimming" , "dancing"),
       }
print(type(dict))
print(dict)
print(dict["Name"])
print(dict["Course"])
dict["Name"] = "Ram"
print(dict)

<class 'dict'>
{'Name': 'Bibek sodari', 'class': 'Bachelor in engineering', 'cgpa': 8.2, 'Course': ['python', 'c', 'Java'], 'Interest': ('swimming', 'dancing')}
Bibek sodari
['python', 'c', 'Java']
{'Name': 'Ram', 'class': 'Bachelor in engineering', 'cgpa': 8.2, 'Course': ['python', 'c', 'Java'], 'Interest': ('swimming', 'dancing')}

In [28]:
dict = {}
dict["Name"] = "Bibeksodari"
print(dict)

{'Name': 'Bibeksodari'}

In [29]:
# Example of nested dictionay

student = {
       "Name":"Bibek sodari",
       "Subject" :{
           "physic":70,
           "math":50,
           "Biology":100
       }
}
print(student)
print(student["Name"])
print(student["Subject"]["math"])

{'Name': 'Bibek sodari', 'Subject': {'physic': 70, 'math': 50, 'Biology': 100}}
Bibek sodari
50

In [30]:
people = {
     "Name" : "Bibeksodari",
     "Gender" : "Male",
     "Family"  : "Joint",
     "Qualification" : "Bacholar in computer engineering"
}
print(people)
print(people["Qualification"])
print(list(people.values()))
print(list(people.items()))
print(people.get("person"))
people.update({"place":"jagatpur kailai"})
print(people)

{'Name': 'Bibeksodari', 'Gender': 'Male', 'Family': 'Joint', 'Qualification': 'Bacholar in computer engineering'}
Bacholar in computer engineering

TypeError: 'list' object is not callable

In [ ]:
# Example of set in python
collection = {1,1,2,2,3,4,5,7,7,8,10}
print(collection)
print(type(collection))

{1, 2, 3, 4, 5, 7, 8, 10}
<class 'set'>

In [ ]:
# Example of empty set
collection = set()
print(collection)
print(type(collection))

set()
<class 'set'>

In [ ]:
# Different operation perform in python

collection = set() 
collection.add(1)
collection.add(2)
collection.add(3)
collection.add(3)
collection.add(2)
collection.remove(1)
collection.pop()
print(collection)

{3}

In [ ]:
# Set methods in python
set1 ={1,2,3,4,5,6}
set2 = {1,3,6,7,8,9}
set =set1.union(set2)
set3 =set1.intersection(set2)
print(set)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 6}

In [ ]:
# WAP to print the numbers from 1 to 100
count = 1
while count <=100:
    print(count)
    count = count+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
count = 100
while count >=1:
    print(count)
    count = count-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#Example of membership operator
string = "communication"
print("o" in string)

True

In [ ]:
list = [1,2,3,4,5,6]
print(1 not in list)

False

In [ ]:
# example of loop in python
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
print(1)

1

In [ ]:
for j in range(1,7): 
    print(j)

1
2
3
4
5
6

In [ ]:
for k in range(1,11,2):
    print(k)

1
3
5
7
9

In [ ]:
for a in range(1,11):
    print("2*",a,"=",2*a)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [ ]:
for b in range(10,0,-1):
    print("2*",b,"=",2*b)

2* 10 = 20
2* 9 = 18
2* 8 = 16
2* 7 = 14
2* 6 = 12
2* 5 = 10
2* 4 = 8
2* 3 = 6
2* 2 = 4
2* 1 = 2

In [ ]:
# Example of while loop
i=1 
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<=10:
    print("2*",i,"=",2*i)
    i+=1

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [ ]:
j=10
while j>=1:
    print("2*",j,"=",2*j)
    j=j-1

2* 10 = 20
2* 9 = 18
2* 8 = 16
2* 7 = 14
2* 6 = 12
2* 5 = 10
2* 4 = 8
2* 3 = 6
2* 2 = 4
2* 1 = 2

In [ ]:
# example of simple function
def display():
    print("my name is ram")
display()

my name is ram

In [ ]:
# Example of function with argument
def add(a,b,c=100):
    print(a+b+c)
add(10,20)

130

In [ ]:
# Example of function with return type
def function(c,d,e):
    f=c-d-e
    return f
sub=function(100,50,25)
print(sub)

25

In [ ]:
import math
x = 10.5
a = math.ceil(x)
print(a)

11

In [ ]:
import math
a = -70
print(math.fabs(a))

70.0

In [ ]:
import math
b = 10
print(math.factorial(b))

3628800

In [ ]:
import math
c=90.7
print(math.floor(c))
print(math.sqrt(c))

90
9.5236547606473

In [ ]:
import math
list=[100,1000,2000,3000]
print(math.fsum(list))

6100.0

In [ ]:
# Example of random module in python
import random
a=random.randint(1,48)
b=random.randrange(1,25)
list=["apple","ball","cat","dog","bibek","manoj","kaysthaya","manishankar","ashish"]
c=random.choice(list)
print(a)
print(b)
print(c)
d=random.random()
random.shuffle(list)
f=random.uniform(1,40)
print(d)
print(list)
print(f)

35
6
manishankar
0.8886485712256786
['ashish', 'cat', 'kaysthaya', 'ball', 'manishankar', 'bibek', 'manoj', 'dog', 'apple']
15.443941229184038

In [33]:
# Example of datetime module in python
import datetime
x=datetime.datetime.now()
year=x.strftime("%Y")
print(year)
print(x.strftime("%b"))
print(x.strftime("%B"))
print(x.strftime("%m"))
print(x.strftime("%y"))
print(x.strftime("%H"))
print(x.strftime("%I"))
print(x.strftime("%p"))
print(x.strftime("%m"))
print(x)
print(datetime.datetime(2022,5,6))

2026
Jan
January
01
26
21
09
PM
01
2026-01-07 21:54:44.021218
2022-05-06 00:00:00

In [36]:
# Number guessing game in python
import random
cnumber=random.randrange(1,101)
usernumber=int(input("Enter the number by user:"))
if usernumber>cnumber:
    print("computer number:",cnumber)
    print("Your guess number is to high:")
elif cnumber>usernumber:
    print("computer number:",cnumber)
    print("Your number is to low:")
else:
    print("computer number:",cnumber)
    print("Your guess number is equal:")

computer number: 54
Your number is to low:

In [1]:
print(12)

12

In [2]:
# Example of pickle module in python

# Example of dump pickle module
import pickle
list = [1,2,3,4,5,6]
file = open("text.txt","wb")
pickle.dump(list,file)
file.close()

In [3]:
# Example of load
import pickle
file=open("text.txt","rb")
pickle.load(file)

[1, 2, 3, 4, 5, 6]

In [5]:
# Example of json module in python
import json
dict = {
    'course_name':'python',
    'fees':20000,
    'Teacher name':"Bibek sodari"
     }
a=json.dumps(dict)
print(type(a))
print(a)

<class 'str'>
{"course_name": "python", "fees": 20000, "Teacher name": "Bibek sodari"}

In [10]:
# Example of the convert json to python object
import json
x='{"course_name":"python","course_fee":20000,"Teacher name":"Bibek sodari"}'
a=json.loads(x)
print(type(a))
print(a)
for a in x:
    print(a)

<class 'dict'>
{'course_name': 'python', 'course_fee': 20000, 'Teacher name': 'Bibek sodari'}
{
"
c
o
u
r
s
e
_
n
a
m
e
"
:
"
p
y
t
h
o
n
"
,
"
c
o
u
r
s
e
_
f
e
e
"
:
2
0
0
0
0
,
"
T
e
a
c
h
e
r

n
a
m
e
"
:
"
B
i
b
e
k

s
o
d
a
r
i
"
}

In [6]:
import json
file=open("post.json","r")
x=file.read()
finaldata=json.loads(x)
for a in finaldata:
    print(a)

user
projects
active

In [10]:

# Example of object oriented programming in python simple
class DemoClass:
    x=19
    def sum(self):
        c=10+90
        return c
Demoobject=DemoClass()
callfunction=DemoClass()
print(Demoobject.x) 
Demoobject.sum()   
print(callfunction.sum())

19
100

In [5]:
# Method and constructur of oop in python
class demo:
    a=19
    def sum(self):
        print(self.a)
    def difference(self,a,b):
        self.c=a-b
        print(self.c)  
    def __init__(self):
        self.b=self.a*self.a
        print(self.b)      
democlass=demo()
democlass.sum() 
democlass.difference(20,10)

361
19
10

In [6]:
# Example of simple inheritance in python
class a:
    def displaya(self):
        print("welcome to python a:")
class b(a):
    def displayb(self):
        print("welcome to python b:")

obj=b()
obj.displaya()
obj.displayb()

welcome to python a:
welcome to python b:

In [7]:
# Example of multilevel inheritance in python
class a:
    def displaya(self):
        print("welcome to dsa a:")
class b(a):
    def displayb(self):
        print("welcome to dsa b:")
class c(b):
    def displayc(self):
        print("welcome to dsa c:")

obj=c()
obj.displaya()
obj.displayb()
obj.displayc()

welcome to dsa a:
welcome to dsa b:
welcome to dsa c:

In [8]:
# Example of multiple inheritance in python
class a:
    def displaya(self):
        print("welcome to coding a:")
class b:
    def displayb(self):
        print("welcome to coding b:")
class c(a,b):
    def displayc(self):
        print("welcome to coding c:")
obj=c()
obj.displaya()
obj.displayb()
obj.displayc()

welcome to coding a:
welcome to coding b:
welcome to coding c:

In [10]:
# Example of encapsulation in oop of python
class student:
    def __init__(self):
        self.name=""
    def getname(self):
        return self.name
    def setname(self,name):
        self.name=name
obj=student()
obj.setname("Bibek sodari")
a=obj.getname()
print(a)

Bibek sodari

In [3]:
# Example of Encapsulation in python oop
class student:
    __name="Ravi ood"
    def __init__(self):
        print(self.__name)
        self.__displaya()
    def __displaya(self):
        print("welcome to python class:")    

obj=student()

Ravi ood
welcome to python class:

In [4]:
# Example of polymorphism in python
l=[1,2,3,4,5,6]
print(len(l))
string="communication"
print(len(string))

6
13

In [9]:
# example of function overloading in python
class student:
    def display(self,name=""):
        print("my name is bibek sodari:"+name)

obj=student()
a=obj.display("änd my father name is dan bhadur sodari:")
print(a)

my name is bibek sodari:änd my father name is dan bhadur sodari:
None

In [ ]:
# example of function overriding in python
class student:
    def display(self):
        print("my school name is purwancal campus:")

class college(student):
    def display(self):
        super().display()
        print("my college is lies in dharan:") 

obj=college()
obj.display()

my school name is purwancal campus:
my college is lies in dharan:

In [15]:
# example of methon overloading in python
class area:
    def calculatearea(self,a=None,b=None):
        if a!=None and b!=None:
            print("area is:",a*b)
        elif a!=None:
            print("area is:",a*a)
        else:
            print("there is no area calculated:")

obj=area()
obj.calculatearea()
obj.calculatearea(10)
obj.calculatearea(10,20)

there is no area calculated:
area is: 100
area is: 200